
/* 
        __~~Formulario / BUTTON ~~__       
*/ 

.formulario h3 {
  padding: 0.625rem;
  margin-bottom: 1.875rem;
  color: rgb(255,106,55);
  font-size: 1.4rem;
  font-weight: bold;
}


.formulario {

  margin: 0 auto;
  margin-top: 6.875rem;
  grid-area: formulario;

 
  font-size: 1rem;
  background-color: rgba(76, 9, 131, 0.568);
  padding: 1.25rem 1.25rem ;

  border-radius: 1.25rem;

  }



.formulario label,
.formulario input,
.formulario textarea,
.formulario button {

  display: block;
  width: 100%;

}

.formulario label {

  color: white;
  line-height: 1.2;
  margin-bottom: 0.5rem;

}

#message {
border-radius: 1.25rem;
}


.formulario input, 
.formulario textarea {
  font: inherit;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 0.063rem solid transparent;
  border-radius: 0.438rem;
  color: black;
  transition: border-color, 
  box-shadow 0.2s;
}


.formulario textarea {
  min-height: 10rem;
  resize: vertical;
}


.formulario input:hover,
.formulario input:focus,
.formulario textarea:hover,
.formulario textarea:focus {

  outline: none;
  border-color: rgb(255,106,55);
  box-shadow: 0 0 0 0.188rem rgb(255,106,55);


}


.botao {
  max-width: 70%;
  margin-top: 1.875rem;
  margin-left: 1.25rem;
}


#sobre button{
  font-weight: bold;
  position: relative;
  padding: 0.981rem;
  border: none;
  background: none;
  font-size: 1.2em;
  transition: all .5s ease-in-out;
  grid-area: botao;
}


#sobre button::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: #ffffff;
  border: 0.063rem solid rgba(255, 99, 71, 0.205);
  width: 30%;
  height: 100%;
  border-radius: 0.625rem;
  z-index: -1;
  transition: all .5s ease-in-out;
}
#sobre button:hover::before{
  width: 100%;
}



#sobre button:hover{
  color: rgb(255,106,55);
}



#sub-content .sub_esquerda button{
  position: relative;
  margin-left: 19.375rem;
  font-size: 1.1rem;
  background: none;
  border: none;
  margin-top: 0.938rem;
  transition: all .5s ease-in-out;
}
#sub-content .sub_esquerda button::after{
  content: '::-';
  position: absolute;
  right: -1.563rem;
  transition: all .5s ease-in-out;
}
#sub-content .sub_esquerda button:hover::after{
  right: -2.188rem;
  color: #d19616;;
}
#sub-content .sub_esquerda button:hover{
  color: #d19616;
}

button:hover{
  cursor: pointer;
}
