

/*
__~~~~~~~~~ GERAL ~~~~~~~~~~___

*/


*{
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
    color:#efeffd;
}



/*
___~~~~~~~~~ HEADER ~~~~~~~~~___

*/

body{
    font-family: 'Roboto', sans-serif;
    padding: 3.125rem;
    background: linear-gradient(to left, #a37fe7, #200a47);
    min-height: 100vh;
    line-height: 1.5;
    font-size: 1.125rem;
}

.container{
    max-width: 90rem;
    margin: 0 auto;
}

.header {
    margin-bottom: 3.438rem;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .logo{
    text-decoration: none;
    font-weight: bolder;
    font-size: 1.7em;
    text-shadow: 0.125rem 0.063rem 1.063rem;
    border-bottom: 0.063rem solid groove #c2a0e9;
    border-radius: 4%;
    
}

.logo2 {
    
    margin-left: 1.25rem;
    width: 12.5rem;
    
}

.logo3 {

    width: 10%;

}





/*
___~~~~~~~~~ MENU ~~~~~~~~~~___

*/





nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul li{
    position: relative;
        list-style-type: none;
    }
    nav ul li a{
        position: relative;
        text-decoration: none;
        font-weight: 500;
        font-size: 1em;
        padding: 0 2.188rem;
        border-right: 0.063rem solid #fff;
        transition: all .5s ease-in-out;
    }
    nav ul li a:hover{
        color: #d19616;
    }
    nav ul li:last-child a{
        border-right: none;
    }
    
    
    


  /*
  
    ___~~~~~~ TITULO E PARÁGRAFOS ~~~~~___
  

  */

  .titulo_inicio {
      padding: 5rem;
      color: rgb(255, 251, 250);
      text-shadow: 0px 0.063rem 0.063rem rgb(223, 70, 43);
  }


.main {
    display: flex;
    flex-direction: column;
    
}

#sobre{
    width: 100%;
    display: grid;
    grid-template:  
    "titulo imagem" 
    "paragrafo formulario"
    "jovemp-p formulario"
    /1fr;

    /* column-gap: 20px; */



}

.sobre_paragrafos{

grid-area: paragrafo;
margin-top: 6.875rem; 
font-size: 1.070rem;
padding-left: 3.125rem;
font-weight: 300;
line-height: 1.7rem;
max-width: 40.625rem;



}



.sobre_image {

   
     grid-area: imagem;   
     margin-top: 8.125rem;
  

}

.livro {
    width: 490px;
}


#sobre h5{
    font-weight: 400;
    font-size: 1.1em;
}

.titulo_inicio {
    position: relative;
    font-weight: bolder;
    font-size: 2.6rem;
    margin-top: 3rem;   
    grid-area: titulo;

}

#sobre p{


margin-bottom: 3.125rem;

  

}



/*
    ___~~~~~ PARAGRÁFO COM QUADRO  ~~~~~~___
*/


#sub-content {

    grid-area: jovem-p;

}


#sub-content{
    display: grid;
    justify-content: space-between;
    width: 100%;
    grid-template-columns: 1fr 1fr;
}



#sub-content .sub_esquerda{
    position: relative;
    width: 100%;
    background: linear-gradient(to left, #a68ed4, #2e1163);
    min-height: 12.5rem;
    box-sizing: border-box;
    border-radius: 2%;
    padding: 2.5rem 1.25rem 1.25rem;
}
#sub-content .sub_esquerda p{
    width: 80%;
    max-width: 31.25rem;
    font-weight: 400;
    font-size: 1rem;
    
}

.jovem{
    position: absolute;
    top: 0.938rem;
    right: -4.688rem;
    border: 0.813rem solid #dfdae9;

}



/*
   __~~~~ FOOTER: REDES SOCIAIS / CONTATO ~~~__

*/


.social-icons {

    margin-left: 14.063rem;

}

#sub-content .social-icons img{
    position: relative;
    top: 0;
    width: 2.5rem;
    margin: 9.375rem 0.313rem 0rem 0.625rem;
    border-radius: 50%;
    opacity: .8;
    transition: all .5s ease-in-out;
}
#sub-content .social-icons img:hover{
    top: -0.938rem;
}


.sub_direita {
        justify-self: center;
} 






/* ~~ Responsividade c/ Media Queries 

Créditos: Prof Mayk Brito, Rockeseat  💜 ~~__

*/





    /* Display Médio  */



    @media (max-width: 800px) {

        #sobre {
  
          grid-template:  
          "titulo imagem" 
          "paragrafo paragrafo"
          "formulario  formulario"
          / 1fr
        
  
        }
  
        #sub-content {
          display: flex;
          flex-direction: column;
          
      }
  
  
     
      .titulo_inicio {
  
          font-size: 250%;
  
      }
  
      .sobre_paragrafos {
          max-width: 100%;
      }
  
    
  
  
  
  
      .livro {
          width: 90%;
          
      }
  
  
      .sobre_image{
        margin: 0 auto;
      }
  
      .logo3 {
  
          width: 10%;
  
      }
  
  
      .jovem {
  
          max-width: 200px;
          
  
      }
  
      .sub_esquerda {
  
          max-width: 600px;
  
  
      }
  
  
      .social-icons {
  
          margin: 0 auto;
          max-width:400px ;
  
      }
  
  
      }
  
  
  /*Display Pequeno */
  
  
  @media (max-width: 1200px) {
  
  
  .header nav {
  
      flex-direction: column;
      row-gap: 20px;
  
  }
  
      #sub-content {
          display: flex;
          flex-direction: column;
          
      }



    .titulo_inicio {
        font-size: 170%;
    }


  
     
  
      
  
     .livro {
          width: 100%;

          
      }
  
  
      .jovem {
  
          right: none;
          top: 85%;
          right: calc(50% - 100px);
  
  
      }
  
      
  
  
  
  
      #sub-content .sub_esquerda p {
  
          margin: 0;
          max-width: none;
          width: 100%;
  
      }
  
  
  
      .logo3 {
  
          width: 15%;
  
      }
  
      .sobre_image{
          max-width: 90%;
          margin-top: 20px;
  
      }
  
      .social-icons {
  
          margin: 0 auto;
          margin-top: 70px;
          max-width:400px ;
  
      }

    


  
  
  
  
  }
  
  
  @media (max-width: 500px) {
  
  
      #sobre {
  
          grid-template:  
          "titulo"
          "imagem" 
          "paragrafo"
          "paragrafo"
          "formulario"
    
          /1fr 
      }



  


      .social-icons{

        display:flex;

      }
  
    

    body {

        margin: 0;
        padding: 0;
        font-size: 50%;
        max-width: 100%;
        max-height: 100%;

      }


      nav ul {

        font-size: 140%;
        margin-top: 20px;
        padding: 5px;
        border: 1px groove turquoise;
        background-color: #ff6a37;

        

      }

      .titulo_inicio {
          font-size: 230%;
          max-height: 1.25rem;
          
      }

      .sobre_paragrafos {

        font-size: 190%;
       padding: 0.5rem;
       max-width:100%;

      }

      .jovem {
          margin-right: 1.875rem;
          margin-top: 1.875rem;
      }

      .botao {
          max-width: 60%;
          margin-top: 1.25rem;
          margin-bottom: 1.875rem;
    
      }

      .livro {
        width: 50%;
        margin-top: 1.25rem;
        margin-left: 4.375rem;

        
    }

    .logo3 {

        width: 20%;
        padding-top: 1.25rem;
    
    }

    .sub_esquerda p{
        font-size: 0.1rem;
    }


    #sub-content .sub_esquerda button{
     
        margin: 0 !important;
        padding: 0 !important;
        margin-top: 1.25rem !important;
        font-size: 80% !important;
        

  }

  .formulario h3 {

    font-size: 17px !important;

  }

  .formulario label{

    font-size: 14px !important;

  }

  .botao {

    font-size: 17px !important;

  }



  
  
  }