

/*
__~~~~~~~~~ GERAL ~~~~~~~~~~___

*/


*{
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
    color:#efeffd;
}



/*
___~~~~~~~~~ HEADER ~~~~~~~~~___

*/

body{
    font-family: 'Roboto', sans-serif;
    padding: 3.125rem;
    background: linear-gradient(to left, #a37fe7, #200a47);
    min-height: 100vh;
    line-height: 1.5;
    font-size: 1.125rem;
}

.container{
    max-width: 90rem;
    margin: 0 auto;
}

.header {
    margin-bottom: 3.438rem;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .logo{
    text-decoration: none;
    font-weight: bolder;
    font-size: 1.7em;
    text-shadow: 0.125rem 0.063rem 1.063rem;
    border-bottom: 0.063rem solid groove #c2a0e9;
    border-radius: 4%;
    
}

.logo2 {
    
    margin-left: 1.25rem;
    width: 12.5rem;
    
}

.logo3 {

    width: 10%;

}





/*
___~~~~~~~~~ MENU ~~~~~~~~~~___

*/



button:hover{
    cursor: pointer;
  }

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul li{
    position: relative;
        list-style-type: none;
    }
    nav ul li a{
        position: relative;
        text-decoration: none;
        font-weight: 500;
        font-size: 1em;
        padding: 0 2.188rem;
        border-right: 0.063rem solid #fff;
        transition: all .5s ease-in-out;
    }
    nav ul li a:hover{
        color: #d19616;
    }
    nav ul li:last-child a{
        border-right: none;
    }
    
    
    


  /*
  
    ___~~~~~~ TITULO E PARÁGRAFOS ~~~~~___
  

  */

  .titulo_inicio {
      padding: 80px;
      color: rgb(255, 251, 250);
      text-shadow: 0px 1px 1px rgb(223, 70, 43);
  }


.main {
    display: flex;
    flex-direction: column;
    
}

#sobre{
    width: 100%;
    display: grid;
    grid-template:  
    "titulo imagem" 
    "paragrafo imagem"
    "botao imagem"
    /60% 1fr
        ;

    column-gap: 50px;



}

.sobre_paragrafos{

grid-area: paragrafo;
margin-top: 100px; 
font-size: 1.063rem;
padding-left: 50px;
font-weight: 300;
line-height: 1.7rem;
max-width: 650px;



}



.sobre_image {

   
     grid-area: imagem;   
     margin-top: 130px;
  

}

.livro {
    width: 490px;
}


#sobre h5{
    font-weight: 400;
    font-size: 1.1em;
}

.titulo_inicio {
    position: relative;
    font-weight: bolder;
    font-size: 2.6rem;
    margin-top: 3rem;   
    grid-area: titulo;

}

#sobre p{


margin-bottom: 3.125rem;

  

}




/*
    ___~~~~~ BOTÕES / QUADRO  ~~~~~~___

*/


.botao {
    max-width: 80%;
    margin-top: 40px;
    margin-bottom: 70px;
}


#sobre button{
    color: #d19616;
    font-weight: bold;
    position: relative;
    padding: 0.625rem 2.188rem 1.25rem 3.75rem;
    border: none;
    background: none;
    font-size: 1.5em;
    transition: all .5s ease-in-out;
    grid-area: botao;
}


#sobre button::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: #ffffff25;
    width: 30%;
    height: 100%;
    border-radius: 3px;
    z-index: -1;
    transition: all .5s ease-in-out;
}
#sobre button:hover::before{
    width: 100%;
}



#sobre button:hover{
    color: rgb(219, 219, 219);
    margin-right: 400px;
}




#sub-content{
    display: grid;
    justify-content: space-between;
    width: 100%;
    grid-template-columns: 1fr 1fr;
}



#sub-content .sub_esquerda{
    position: relative;
    width: 100%;
    background: linear-gradient(to left, #a68ed4, #2e1163);
    min-height: 12.5rem;
    box-sizing: border-box;
    border-radius: 2%;
    padding: 2.5rem 1.25rem 1.25rem;
}
#sub-content .sub_esquerda p{
    width: 80%;
    max-width: 31.25rem;
    
}

.jovem{
    position: absolute;
    top: 15px;
    right: -4.688rem;
    border: 0.813rem solid #dfdae9;

}


#sub-content .sub_esquerda button{
    position: relative;
    background: none;
    border: none;
    margin-top: 0.938rem;
    transition: all .5s ease-in-out;
}
#sub-content .sub_esquerda button::after{
    content: '::-';
    position: absolute;
    right: -1.563rem;
    transition: all .5s ease-in-out;
}
#sub-content .sub_esquerda button:hover::after{
    right: -2.188rem;
    color: #d19616;;
}
#sub-content .sub_esquerda button:hover{
    color: #d19616;
}



/*
   __~~~~ FOOTER: REDES SOCIAIS / CONTATO ~~~__

*/


#sub-content .social-icons img{
    position: relative;
    top: 0;
    width: 2.5rem;
    margin: 9.375rem 0.313rem 0px 0.625rem;
    border-radius: 50%;
    opacity: .8;
    transition: all .5s ease-in-out;
}
#sub-content .social-icons img:hover{
    top: -0.938rem;
}


.sub_direita {
        justify-self: center;
} 






/* ~~ Responsividade c/ Media Queries 

Créditos: Prof Mayk Brito, Rockeseat  💜 ~~__

*/





    /* Display Médio  */



    @media (max-width: 1300px) {

        #sobre {
  
          grid-template:  
          "titulo imagem" 
          "paragrafo paragrafo"
          "botao ."
          /50% 1fr
        
  
        }
  
        #sub-content {
          display: flex;
          flex-direction: column;
          
      }
  
  
     
      .titulo_inicio {
  
          font-size: 250%;
  
      }
  
      .sobre_paragrafos {
          max-width: 100%;
      }
  
    
  
  
  
  
      .livro {
          width: 90%;
          
      }
  
  
      .sobre_image{
        margin: 0 auto;
      }
  
      .logo3 {
  
          width: 10%;
  
      }
  
  
      .jovem {
  
          max-width: 200px;
          
  
      }
  
      .sub_esquerda {
  
          max-width: 600px;
  
  
      }
  
  
      .social-icons {
  
          margin: 0 auto;
          max-width:400px ;
  
      }
  
  
      }
  
  
  /*Display Pequeno */
  
  
  @media (max-width: 800px) {
  
  
  .header nav {
  
      flex-direction: column;
      row-gap: 20px;
  
  }
  
      #sub-content {
          display: flex;
          flex-direction: column;
          
      }



    .titulo_inicio {
        font-size: 170%;
    }


  
     
  
      
  
     .livro {
          width: 100%;

          
      }
  
  
      .jovem {
  
          right: none;
          top: 85%;
          right: calc(50% - 100px);
  
  
      }
  
      
  
  
  
  
      #sub-content .sub_esquerda p {
  
          margin: 0;
          max-width: none;
          width: 100%;
  
      }
  
      .sub_esquerda button {
  
          margin-bottom: 50px;
  
      }
  
  
      .logo3 {
  
          width: 15%;
  
      }
  
      .sobre_image{
          max-width: 90%;
          margin-top: 20px;
  
      }
  
      .social-icons {
  
          margin: 0 auto;
          margin-top: 70px;
          max-width:400px ;
  
      }
  
  
  
  
  }
  
  
  @media (max-width: 500px) {
  
  
      #sobre {
  
          grid-template:  
          "titulo"
          "imagem" 
          "paragrafo"
          "paragrafo"
          "botao"
          /1fr 
      }



  


      .social-icons{

        display:flex;

      }
  
    

    body {

        margin: 0;
        padding: 0;
        font-size: 50%;
        max-width: 100%;
        max-height: 100%;

      }


      nav ul {

    
        font-size: 160%;
        margin-top: 20px;
        padding: 10px;
        border: 1px groove turquoise;
        background-color: #ff6a37;



      }

      .titulo_inicio {
          font-size: 197%;
          max-height: 20px;
          
      }

      .sobre_paragrafos {

        font-size: 150%;
       padding: 8px;
       max-width:100%;

      }

      .jovem {
          margin-right: 30px;
      }

      .botao {
          max-width: 80%;
          margin-top: 20px;
          margin-bottom: 30px;
      }

      .livro {
        width: 50%;

        
    }

    .logo3 {

        width: 20%;
        padding-top: 20px;
    
    }
  
  
  }